RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?bot-ao.com$
RewriteCond %{REQUEST_URI} !^/bot/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /bot/$1
RewriteCond %{HTTP_HOST} ^(www.)?bot-ao.com$
RewriteRule ^(/)?$ bot/index.php [L]